
@{
    Layout = "~/Views/shared/_MainLayout.cshtml";
}
<div>
    <h1>Contact Page</h1>
    <br />
    <div>
        <h5><span><b>Telefon:</b></span> 020-410-820</h5>
        <h5> <a href="https://www.instagram.com/zara_montenegro/" target="_blank" style="text-decoration: none">Instagram</a> </h5>
        <h5> <a href="https://www.facebook.com/zara.montenegro.351" target="_blank" style="text-decoration: none; color:coral" >Facebook</a> </h5>
    </div>
</div>

@section footer{
    <footer>
        &copy; Zara 2022 - Contact page
    </footer>
}